* {
    box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

:root {
  --Sacramento: "Sacramento", cursive;
  --Merriweather: "Merriweather", serif;
  --Montserrat: "Montserrat", sans-serif;
  --Background_Color: whitesmoke;
  --Project_Color: #b3a18dd2;
  --Heading_Color: rgb(26, 34, 33);
  --ButtonColor: rgb(66, 68, 53);
}

header, body, section {
  overflow-x: hidden;
}

body {
  background-color: rgb(224, 235, 243);
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

h1 {
  font-size: 4.5rem;
  margin-top: 5rem auto 0 auto;
  color: #473018;
  font-family: "Sacramento", cursive;
  text-align: center;
  font-weight: 600;
}

h2 {
  color: #192929;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: var(--Heading_Color);
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1;
}

/* navigation bar */

.navbar {
    background:  #c8ccce;
    padding-top: .8rem;
    font-size: 12px;
    letter-spacing: 4px;
}

.nav.navbar-nav.navbar-right li a {
  font-weight: bold;
  color: rgb(83, 67, 51);
}

.navbar-nav  li a:hover {
    color: #8f8a78 !important;
}


/* profile section */

.profile {
  padding-top: 30px;
}

.profile h1 {
  padding-top: 2rem;
}

.profile .row .col-md-6 .profile-picture img {
  padding-top: 4rem;
  margin-left: 15%;
  opacity: 85%;
  width: 70%;
  border-radius: 50%;
}

.profile ul {
  color: black;
}

.profile .row .col-md-6 p {
  color: black;
  font-size: 1.5rem;
}

.profile .container .row .col-md-4 {
  /* color: rgba(0, 0, 0, 0.6); */
  font-size: 1.3rem;
  display: inline-block;
  padding-bottom: .5rem;
}
.profile .container .row .col-md-6 {
  /* color: rgba(0, 0, 0, 0.6); */
  font-size: 1.3rem;
  display: inline-block;
  padding-bottom: .5rem;
}

.profile .row .col-md-6 .btn {
  margin-top: 3rem;
  border-radius: 20px;
  background-color: var(--ButtonColor);
  color: whitesmoke;
}

.profile .row .col-md-6 .btn:hover {
  background-color: var(--Project_Color);
}

/* projects */

.projects {
  /* padding:3rem; */
  font-family: var(--Montserrat);
  text-align: center;
}

.projects .row {
  position: relative;
  width: 100%;
}

.projects h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.projects p {
  line-height: 1.5;
}

.projects .card {
  margin: 2rem;
  border-radius: 5px;
  background-color: var(--Project_Color);
}

.projects .card .card-body {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}

.project-btn {
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: var(--ButtonColor);
  color: beige;
  position: relative;
}

.btn:hover {
  background-color: #c8ccce;
}

.card-img-top {
  margin-top: 1.5rem;
  border-radius: 5px;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}


/* contact */

label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

form {
  background: rgba(139, 138, 130, 0.8);
  margin: 0 15%;
  padding: 2rem 0.5rem;
  border-radius: 0.25rem;

}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

textarea {
  min-height: 200px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

/* footer */

footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin-top: -0px;
}

footer i {
  color: #192929;
}

footer a {
  color: #192929;
}

.footer {
    overflow-x: hidden;
    padding: 8vmin 14vmin;
    font-family: var(--Montserrat);
}

.footer a:hover {
    color: var(--Heading_Color);
}


/* responsive style */

@media (max-width: 768px) {
  .projects .row {
    position: absolute;
    width: 70%;
    left: 15%;
  }
}

@media only screen and (min-width: 769px) {
  .projects .row {
    position: absolute;
    left: 13%;
  }
}

@media only screen and (min-width: 991px) {
  .projects .row {
    position: absolute;
    left: 13%;
  }
}
@media only screen and (min-width: 1200px) {
  .projects .row {
    position: absolute;
    left: 9%;
  }
}
