.body-container {
  text-align: center;
  background-color: #4e7e60;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  padding-bottom: 2%;
}

.parts {
  position: relative;
}

.a {
  width: 60px;
  height: 200px;
  background: #ff6663;
}

.s {
  width: 60px;
  height: 190px;
  background: #feb144;
}

.d {
  width: 60px;
  height: 180px;
  background: #fdfd97;
}

.f {
  width: 60px;
  height: 170px;
  background: #9ee09e;
}

.g {
  width: 60px;
  height: 160px;
  background: #9ec1cf;
}

.h {
  width: 60px;
  height: 150px;
  background: #5a77e9;
}

.j {
  width: 60px;
  height: 140px;
  background: #9878b3;
}

.k {
  width: 60px;
  height: 130px;
  background: #ff6663;
}

.part {
  position: relative;
  outline: none;
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #5a3e7e;
  text-shadow: 1px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  margin: 2px;
  cursor: url("images/foo6.cur"), auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

/* Music buttons */

.aWholeNewWorld {
  width: 100px;
  height: 50px;
  background: #d3bf88;
}

.music {
  position: relative;
  outline: none;
  font-size: 1rem;
  font-family: "Arvo", cursive;
  line-height: 2rem;
  font-weight: 300;
  color: #5a3e7e;
  text-shadow: 1px 0 #235768;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  margin: 100px;
}

.btn {
  font-size: 1.3rem;
  border-radius: 15px;
  background-color: rgb(66, 68, 53);
  color: beige;
  position: relative;
}